<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/index.css">
    <link rel="icon" href="/fox.png">
    <title>FoxFile</title>
</head>
<body>
    <!--Dialogs-->
    <dialog id="myDialog">
        <div>
            <button id="openFolderDialog">Add Folder</button>
            <button id="uploadButton">Add File</button>
        </div>
    </dialog>

    <dialog id="folderDialog">
        <div>
            <form id="folderForm" action="/addFolder" method="POST">
                <label for="name">Name</label>
                <input type="text" name="name" pattern="^[\w\-. ]+$">
            </form>   
            
            <div>
                <button onclick="closeFolder();">Cancel</button>
                <button form="folderForm" type="submit">Create</button>
            </div>
        </div>
    </dialog>

    <dialog id="renameFolderDialog">
        <div>
            <div>
                <label for="name">New name</label>
                <input id="FnewName" type="text" name="name" pattern="^[\w\-. ]+$">
            </div>   
            
            <div>
                <button onclick="closeEditFolder();">Cancel</button>
                <button class="renameFolderBTN" onclick="renameFolder();">Rename</button>
            </div>
        </div>
    </dialog>
    <!---->
    <!-- Menus -->
    <div id="folderMenu" class="folderMenu" style="display:none">
        <ul>
            <li><button onclick="openFolder();">Open</button></li>
            <li><button id="EditFolderBTN">Rename</button></li>
            <li><a href="#">Share</a></li>
            <li><button onclick="deleteFolder();">Delete</button></li>
        </ul>
    </div>

    <div class="title">
        <img src="/fox.png" alt="">
        <h1>FoxFile</h1>
    </div>
    <%if(user){%>
        <h2>Welcome back <%=user.username%></h2>
        <form action="/log-out" method="POST">
            <button>Logout</button>
        </form>
        <button id="openDialogBtn"><img src="/add.png" alt=""></button>

        <form method="POST" enctype="multipart/form-data" id="uploadForm">
            <input type="file" name="file" id="fileInput" style="display: none;"> 
        </form>

        <div class="filesBox">
            <div class="path">
                <a href="/"><h2>Files</h2></a>
                <%if(path){%>
                    <h2>/<%=path%>/</h2>
                <%}else{%>
                    <h2>/</h2>
                <%}%>
            </div>
            <div class="location">
            </div>
            <div class="files">
                <%folders.map(f=>{%>
                    <form action="/Files/<%=f.id%>" method="GET" class="file">
                        <button class="fileBTN" ondblclick="console.log('Double-clicked!')">
                            <div class="end">
                                <img src="/folder.png" alt="">
                                <h2><%=f.name%></h2>
                            </div>
                        </button>
                        <div class="end">
                            <h2><%=f.createdAt%></h2>
                            <img class="FolderOptions" src="/dots.png" alt="options" onclick="openFolderOptions(event, '<%= f.id %>');">
                        </div>
                    </form>
                    
                    
                <%})%>
                <!-- 
                <button class="file">
                    <div class="end">
                        <img src="/file.png" alt="">
                        <h2>Name</h2>
                    </div>
                    
                    <div class="end">
                        <h2>16 abr 2023</h2>
                        <img src="/dots.png" alt="options">
                    </div>
                </button>
                -->
            </div>
        </div>
    <%}%>
    
</body>
<script src="/index.js"></script>
</html>